*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width:100%;
    height:100%;
    margin: 0px;
}

.navigation{
    position:fixed;
    width:20%;
    height: 100vh;
    display:flex;
    align-items: center;
    border-right:1px solid rgb(0, 0, 0,0.5);
    box-shadow: 0 2px 20px #333;
    z-index: 555;
    transition:all 1s ease;
    overflow: hidden;
}
.activeright{
    transform: translateX(-100%);
}


.main-menu{
    position: relative;
    width: 100%;
    padding: 25px;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}
.navigation .main-menu{
    position: relative;
}
.navigation .main-menu li{
    position: relative;
}
.navigation .main-menu li a{
    position: relative;
    opacity: .7;
    text-decoration: none;
    color:#000;
}
.navigation .main-menu li a:hover{
    cursor:pointer;
    opacity: 1;
}

.main{
    position: absolute;
    font-family: sans-serif;
    width:80%;
    min-height: 100vh;
    left:20%;
    transition:all 1s ease ;


}
.activemain{
    left:0;
    width:100%;
}



.topbar{
    position: fixed;
    background-color: #333;
    color:#fff;
    width:80%;
    left:20%;
    height:fit-content;
    border:2px solid;
    z-index:5;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-2px);
transition: all 1s ease;  
z-index: 500;  

}

.activetop{
    width:100%;
    left:0px;
}

.topbar h1{
    padding: 25px;
    margin-left: 25px;
}
.topbar .toger{
    padding:25px;
    margin-right:30px;
    font-size: 35px;
    cursor: pointer;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    margin:300px auto;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    


}

.imbox{
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom:40px;

}

.imbox img{
    width:100%;
    height:100%;
    border-radius: 50%;
    text-align: center;
}

.banner h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    
}

.banner h3{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;

}

.socialmidia li a{
    font-size: 35px;
    margin:10px 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
}
.socialmidia li a:hover{
    background-color: #fff;
    color: #000;
}

/* section:about me!*/
.aboutme{
    position: relative;
    width:100%;
    margin:10px 10px;
    display: block;
    text-align: center;
}
.aboutme h1{
    margin:25px;
        font-size:30px ;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom:20px;
        letter-spacing: 1px;
    
}
.aboutme .mylife{
    position: relative;
    width:99%;
    display: flex;
}
.imbox2{
    position: relative;
    width:400px;
    height:600px;
  
}

.imbox2 img{
    width:100%;
    height:100%;
}
.abouttext{
    position: relative;
    width:100%;
    padding:25px;
    text-align: center;
}

.socialmidia{
    position: relative;
    display: flex;
    list-style: none;

}

/*projects section*/

.projects{
    position:relative;
    width:99%;
    box-shadow: 0px 0px 5px rgb(88, 42, 109),
    -0px -0px 5px rgb(88, 42, 109);
    transform: translateX(9px);
    display: flex;
    flex-direction: column;
align-items: center;    
}
.card{
    position: relative;
    width:300px;
    height:400px;
    padding:20px 20px;
    margin:25px;
    cursor: pointer;

}
.i2{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 5;
    transition: all 1s ease;
}
.i2:hover{
    transform: translateY(-50%);
}

.project-title{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border:1px solid;
    background-color: black;
    color:#fff;
    z-index: 3;
}

.project-title h1{
    margin-bottom: 15px;
}
.projects-title{
    font-size:30px ;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom:20px;
    letter-spacing: 1px;
    margin:25px;

}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*section:contact*/

.conectwith{
    position: relative;
    display:block;
    text-align: center;
    font-family:sans-serif;
}
.conectwith h1{
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline;
    margin:10px;
}
.conectwith h3{
    font-size: 35px;
    margin-bottom: 10px;

}

.concardbox{
    display: flex;
    justify-content: center;
}
.concard{
    margin:30px;
    width:250px;
    height:200px;
    box-shadow: 2px 2px 5px rgb(88, 42, 109),
    -2px -2px 5px rgb(88, 42, 109);
display: flex;
flex-direction: column;
justify-content: space-around;
}
.concard a{
    font-size:80px;
    padding-top: 20px;
    color: rgb(88, 42, 109);
    
}
.concard p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.footer{
    position: relative;
    width:100%;
    height:100px;
    background-color: rgb(88, 42, 109);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
    color:#fff;
margin-left: 13px;
transition: all 1s ease;
}
.footer h3{
    padding-top: 30px;
}


/*night mode */
.mainnight{
    background-color: #9e4673;
    color:#fff;

}
.footernight{
    position: relative;
    width:100%;
    height:100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #fff;
    color:#000;
    text-align: center;
margin-left: 13px;
transition: all 1s ease;


}

.moon{
    position: absolute;
    font-size: 45px;
    bottom:30px;
    right:25px;
}
.allsection{
    width:100%;
}



@media (max-width:990px) {
    .footer{
        margin-left: 5px;
    }
    .main-menu{
        font-size: 20px;
    }
}
@media (max-width:700px) {
    .navigation{
        width:100%;
        background-color: #333;
        z-index: 10;
        color:#fff
    }
    .navigation .main-menu li a{
        color:#fff;
        font-size:34px;
    }
.topbar{
    width:99%;
    left:0px;
    color:#000;
    background-color:#fff;
    border:none;
}
    
}


